{% extends 'base.html' %}

{% block title %} 投稿作成 {% endblock %}

{% block content %}
<div class="container">
    <form method="POST" class="w-60 p-4 m-4 bg-light border border-dark rounded" enctype="multipart/form-data">{% csrf_token %}
        {{form.as_p}}
        <input type="submit" class="btn btn-success mt-4" value="作成する">
    </form>
</div>
{% endblock content %}

<!--
        <form method="POST" class="p-4 m-4 bg-light border border-dark rounded" enctype="multipart/form-data">{% csrf_token %}
        {% for field in form %}
            <input class="form-control"
            <input class="form-control" value="{{ field.user_id }}" readonly>
            
        {% endfor %}
        <input type="submit" value="作成する">
    </form>
-->